.p1{
    display: flex;
    flex-direction: column;
    float:right;
    margin-right: 250px;
    margin-top:50px;
    text-align: left;
}
.p1 p{
    font-size: large;
}
.image{
    background: url('img/image-gallery-milkbottles.jpg');
    height:710px;
    width:700px;
    margin-top: -16px;
}
.image h1{
    padding-top: 400px;
}
