/*
https://github.com/moqasalem/sunnyside-agency-landing-page
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-image: url('img/image-header.jpg');
    background-position: center;
    background-size: cover;
    height: 1000px;
    text-align: center;
}
.sunny{
    color:white;
    float:left;
    margin-left:20px;
    margin-top:20px;
    display:block;
    margin-right:550px;
    margin-bottom: 100px;
}
a{
    color:white;
    text-decoration: none;
    float:right;
    margin-right:30px;
    margin-top:20px;
    margin-bottom:100px;;
}
a:hover{
    color:lightgreen;
}
header h1{

    color: white;
    margin-bottom:200px;
    padding-top:250px;
}
.container{
    margin-botton:20px;
}
#image1{
    float:right;
}
.heading2{
    text-align:center;
    padding-top:100px;
    font-size:70px;
    margin-right:1000px;
}
pre{
    font-size: 18px;
    margin-top:30px;
    margin-right:650px;
}
strong{
    font-size: 28px;
    margin-left:130px;
}
.abcd{
    font-size:35px;
    margin-top: -400px;
  margin-right:350px;
     float:right;
}
.para{
    
    display:flex;
    float: right;
    flex-direction: column;
    margin-top:50px;
}
.para h1{
    font-size: 70px;
    text-align: justify;
    margin-right: 150px;
}
 .para pre{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.image1{
    background-image: url('img/image-graphic-design.jpg');
    height:520px;
    width:725px;
    text-align: center;
    padding-top: 360px;
    color:darkslategrey;
}
.image2{
    background-image: url('img/image-photography.jpg');
    height:520px;
    width:795px;
    text-align: center;
    padding-top: 360px;
    display:flex;
    flex-direction: column;
    float: right;
    margin-top: -519px;
    color:darkslategrey;
}

