p{
    color:rgb(115, 255, 0);
}
#red{
    color:red;
}
.green{
    color:green;
}
[type]{
    background-color:goldenrod;
}
[disabled]{
    background-color:khaki;
}
[href $=".com"]{
    color:red;
}
[href *="f"]{
    color:blueviolet;
}